.description__text {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 24px;
}

.description__text:last-of-type {
    margin: 0;
}

@media (min-width: 769px) {
    .description__text {
        font-size: 20px;
        line-height: 36px;
        width: 100%;
        max-width: 900px;
        text-align: center;
    }
}