@import url('_theme_quiet-ocean/title_theme_quiet-ocean.css');

.title {
font-family: 'Pribambas-Regular', sans-serif;
font-style: normal;
font-weight: normal;
text-align: center;

}

/* @media (min-width: 769px) {
    .title {
        font-size: 4.5rem;
        line-height: 78px;
        margin: 0 0 48px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 42px;
        line-height: 46px;

    }
}

@media (max-width: 499px) {
    .title {
        font-size: 2rem;
        line-height: 2rem;
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 32px;
        line-height: 35px;
    }
} */