.project__images-side-container {
    display: block;
}

@media (min-width: 769px) {
    .project__images-side-container {
        display: grid;
        grid-template-rows: repeat(3, 80px);
        grid-gap: 50px;
    }
}

@media (min-width: 1100px) {
    .project__images-side-container_reverse {
        order: 1;
    }
}