.intro__title.intro__title_subtype {

    margin: 0 0 40px;
    font-size: 24px;
    line-height: 24px;
}

@media (min-width: 769px) {
    .intro__title.intro__title_subtype {
        font-size: 36px;
        line-height: 36px;

    }
}