@import url('__copyright/footer__copyright.css');
@import url('__link/footer__link.css');
@import url('__container-icons/footer__container-icons.css');
@import url('__link-email/footer__link-email.css');

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #F9E7D9;
    padding: 35px 25px;
}
@media (min-width: 769px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #F9E7D9;    
        padding: 25px 65px;
    }
}
