.intro__timer {
    font-family: 'Pribambas-Regular', sans-serif;
    text-align: center;
    color: #A95099;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 40px;
}

@media (min-width: 769px) {
    .intro__timer {
        font-size: 48px;
        line-height: 48px;
    }
}