.project__text {
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0 30px;
}
@media (min-width: 769px) {
    .project__text {
        margin: 0 0 50px;
    }
    .project__text:first-of-type {
        margin: 0 0 20px;
    }
}