.intro__title {
    text-align: center;
    margin: 0 0 14px;
}

@media (min-width: 769px) {
    .intro__title {
        font-size: 48px;
        line-height: 48px;
    }

    .intro__title:last-of-type {
        font-size: 36px;
        line-height: 36px;
    }
}